%h2#heading 
  Questions in 
  = @location
= render :partial => 'map'
= render :partial => 'map_search_control'
= link_to 'Ask a question', new_question_path, :id => 'ask-question-link'
#questions-list
  = render :partial => 'list'