%h2#heading= @question.content
= render :partial => 'map'
= form_for @new_answer do |f|
  = hidden_field_tag :question_id, @question.sequence
  = f.text_field  :content
  = f.submit  "Answer"
= form_tag places_path, :method => :get, :remote => true do
  = label_tag "Add a place:"
  = search_field_tag :q, nil, :id => 'place-search-input'
  = hidden_field_tag :ll, coords_to_string(@question.coords)
  = submit_tag "Search"
#places-list
  = render :partial => 'places/list'
%ul
  - @answers.each do |answer|
    %li= answer.content
