%h2#heading= @question.content
= render :partial => 'map'
= form_for @new_answer do |f|
  = hidden_field_tag :question_id, @question.sequence
  = f.text_field  :content
  = f.submit  "Answer"
%ul
  - @answers.each do |answer|
    %li= answer.content
